:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
}

.App {
  font-family: monospace;
}

.header {
  padding: 15px;
}

.header-darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
}

.search-darkMode {
  background-color: var(--dark-mode-bg) !important;
  color: white;
}

.refresh-icon {
  cursor: pointer;
  animation: refresh 5s 2;
  animation-direction: alternate;
}

@keyframes refresh {
  0%   {background: #0000FF;}
  25%  {background: white;}
  50%  {background: #0000FF;}
  75%  {background: white;}
  100% {background: #0000FF;}
}

.switch-mode {
  gap: 12px;
  cursor: pointer;
}

.countries {
  padding: 15px;
}

.country-flag {
  object-fit: cover;
}

.country-table {
  overflow-x: scroll;
}

.countrytable-instruction {
  font-style: italic;
}

.table-img {
  cursor: pointer;
}
